  <!-- Ugly look form based -->
<!-- <div class="col-md-12">
  <div class="table-responsive">
      <h1 style="color:#666666;"> Sustainability Topics </h1>
    <table class="table table-hover">
      this is the table row with headers 9this is also the ability to add  text

          <th> </th>
          <th> Name </th>
          <th> Actions </th>
      </tr>

    <% @issues.each do |issue| %>
    <tr>
      <td class="col-md-2"> <%= image_tag(issue.issue_image,class: 'img-thumbnail img-reponsive') %> </td>
      <td> <%= issue.topic %> </td>

    </tr>
    <% end %>

    </table>
  </div>
</div> -->

  <!-- Portfolio Grid Section from Bootsrap Template -->


<%= render 'form' %>
