<h1>Issues#show</h1>
<p>Find me in app/views/issues/show.html.erb</p>



  <% @issue.narratives do |narrative| %>
    <tr>
      <td><%= narrative.title %></td>
      <td><%= narrative.description %></td>
    </tr>
    <% end %>
  </table>
</div>
