<section id="portfolio" class="bg-light-gray">
  <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Narratives</h2>
                <h3 class="section-subheading text-muted"> Resources at your fingertips</h3>

            </div>
        </div>
  </div>

<% @issue.narratives.each do |narrative| %>
<div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-hover">
                  <div class="portfolio-hover-content">

                      <%= image_tag(narrative.image_url, :class => "img-responsive") %>
                  </div>
              </div>
          <div class="portfolio-caption">
            <tr>
              <td class="col-md-2"> </td>
              <h4>  <%= link_to narrative.title, issue_narrative_path(narrative.issue, narrative) %> </h4>
    </tr>
    </div>
</div>
</div>
<% end %>
<%=link_to "Contribute Your Story", new_narrative_path, class: 'btn btn-default btn-xs'%>
<%=link_to "Go Back To Issue Topic", issues_path, class: 'btn btn-default btn-xs'%>
