<div class="row-fluid">
  <div class="panel panel-default">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> <%= @narratives.title%>
          <%=link_to "All Narratives", narratives_path, class: 'btn btn-default btn-xs'%>
        </h1>
      </div>
      <div class="panel-body">
        <p> <%= @narratives.description %> </p>
      </div>
    </div>



  </div>
</div>
